# Unit 16. 반복문

In [2]:
for i in range(5):
    print('Hello, World.', i)

Hello, World. 0
Hello, World. 1
Hello, World. 2
Hello, World. 3
Hello, World. 4

In [3]:
for i in range(3,9):
    print('Hello, world.', i)

Hello, world. 3
Hello, world. 4
Hello, world. 5
Hello, world. 6
Hello, world. 7
Hello, world. 8

In [5]:
for i in range(1,10,2):
    print('Hello world.', i)

Hello world. 1
Hello world. 3
Hello world. 5
Hello world. 7
Hello world. 9

In [6]:
for i in range(10,1,-2):
    print('Hello world', i)

Hello world 10
Hello world 8
Hello world 6
Hello world 4
Hello world 2

In [8]:
for i in range(5):
    i *= 2
    print(i)

0
2
4
6
8

In [9]:
# for loop의 index의 값은 변경시키지 말 것
for i in range(5):
    k = i * 2
    print(k)

0
2
4
6
8

### 16-3 시퀀스 객체

In [10]:
a = [10, 20, 30, 40, 50]
for i in a:
    print(i)

10
20
30
40
50

In [12]:
fruits = ('사과', '배', '귤')
for fruit in fruits:
    print(fruit)

사과
배
귤

In [13]:
for letter in 'Python':
    print(letter, end=' ')

P y t h o n

- 반복문 응용

In [14]:
# 1에서 100까지 합
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [15]:
# 1에서 10까지 곱
product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

In [16]:
import math
math.sqrt(4)

2.0

In [20]:
# 1에서 10까지 루트값으로 리스트 만들기
sqrt_num = []
for i in range(1,11):
    sqrt_num.append(round(math.sqrt(i),4))
sqrt_num

[1.0, 1.4142, 1.7321, 2.0, 2.2361, 2.4495, 2.6458, 2.8284, 3.0, 3.1623]

In [21]:
# for-loop, 1에서 얼마까지 더하면 누적합이 300을 초과하는지
sum = 0
for i in range(300):
    sum += i
    if sum > 300:
        break
print(i, sum)

25 325