# Unit 22. 리스트와 튜플

- 요소 추가

In [1]:
a = [10, 20, 30]
a.append(40)
a

[10, 20, 30, 40]

In [2]:
a.insert(0, 34)
a

[34, 10, 20, 30, 40]

In [3]:
a.append([100, 200])
a

[34, 10, 20, 30, 40, [100, 200]]

In [5]:
b = [1, 2, 3]
b.extend([30, 40])
b

[1, 2, 3, 30, 40]

- 요소 삭제

In [6]:
del a[-1]
a

[34, 10, 20, 30, 40]

In [7]:
a.pop()

40

In [8]:
a

[34, 10, 20, 30]

In [9]:
a.pop(0)

34

- 특정값의 인덱스 찾기

In [10]:
a.index(20)

1

In [11]:
for index, element in enumerate(a):   ###
    print(f'index: {index}, value: {element}')

index: 0, value: 10
index: 1, value: 20
index: 2, value: 30

In [14]:
for i in range(len(a)):
    print(f'index" {i}, value: {a[i]}')

index" 0, value: 10
index" 1, value: 20
index" 2, value: 30

In [15]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

1

- 기타

In [17]:
# 특정 값의 갯수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [18]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [19]:
a.reverse()
a

[40, 20, 15, 30, 20, 10]

- 정렬(sort)

In [20]:
a

[40, 20, 15, 30, 20, 10]

In [23]:
a.sort()      # 오름차순(asending order) 정렬
a

[10, 15, 20, 20, 30, 40]

In [24]:
a.sort(reverse=True)   #내림차순(descending order) 정렬
a

[40, 30, 20, 20, 15, 10]

In [25]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [26]:
b

[10, 20, 30, 15, 20, 40]

- 리스트 복사

In [27]:
a

[40, 30, 20, 20, 15, 10]

In [28]:
b = a

In [29]:
b[-1] = 300
a

[40, 30, 20, 20, 15, 300]

In [30]:
a is b

True

In [31]:
a

[40, 30, 20, 20, 15, 300]

In [32]:
b = a.copy()
b[-1] = 88
b

[40, 30, 20, 20, 15, 88]

In [33]:
a

[40, 30, 20, 20, 15, 300]

### 22-3 반복문과 리스트

In [34]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

- 인덱스와 요소를 동시에 엑세스

In [35]:
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [36]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 사과
1 배
2 귤
3 감

### 22-4. 리스트의 최소값, 최대값, 합계

In [37]:
a = [38, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small = element
small

19

In [39]:
large = -1
for element in a:
    if element > large:
        large = element
large

62

In [40]:
min(a), max(a)

(19, 62)

In [41]:
sum(a)

193

### 22-5. 리스트 표현식(comprehension)  ☆

In [42]:
# 1에서 10까지의 제곱수로된 리스트를 만드세요

square_list = []
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
square_list = [i*i for i in range(1,11)] ###식 하나로 줄이기
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
odd_sq = [i*i for i in range(1,11) if i%2==1]
odd_sq

[1, 9, 25, 49, 81]

In [2]:
m, n = map(int, input().split())
res_list = [i*i for i in range(m, n+1) if i%3==0]
res_list

[9, 36, 81, 144]

In [4]:
a = [i * j for i in range(2, 10) for j in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 22-6 map

In [5]:
a = [1.2, 2.3, 3.4, 4.5]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [8]:
a = [1.2, 2.3, 3.4, 4.5]
for element in a:
    element = int(element)
    print(element, end=' ')
print()
a

1 2 3 4

[1.2, 2.3, 3.4, 4.5]

In [9]:
list(map(int, a))

[1, 2, 3, 4]

In [10]:
def sq(x):
    return x*x

In [11]:
list(map(sq, a))

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

In [12]:
list(map(lambda x: x*x, a))  ###lambda 함수

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

#### 22.9 연습문제: 리스트에서 특정 요소만 뽑아내기

In [24]:
a, b = map(int, input().split())

k= [2**i for i in range(a,b+1) if a in range(1,21) and b in range(10,31) and a < b]
k.pop(1)
k.pop(-2)
print(k)

[2, 8, 16, 32, 64, 128, 256, 1024]