# Unit 23. 2차원 리스트

In [1]:
a = [[10,20], [30,40], [40,50]]
a

[[10, 20], [30, 40], [40, 50]]

In [3]:
import numpy as np 
b = np.arange(10,61,10).reshape(3,2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [4]:
import pandas as pd
df = pd.DataFrame(a)
df

    0   1
0  10  20
1  30  40
2  40  50

In [5]:
#indexing
a[1][1]

40

In [6]:
a[-1][-1]

50

In [8]:
from pprint import pprint
pprint(a, indent=4, width=20)

[   [10, 20],
    [30, 40],
    [40, 50]]

### 23-2 2차원 리스트와 반복문

In [9]:
for element in a:
    print(element)

[10, 20]
[30, 40]
[40, 50]

In [12]:
for sub in a:
    for element in sub:
        print(element)
    print()

10
20

30
40

40
50

In [14]:
len(a), len(a[0])

(3, 2)

In [15]:
for i in range(len(a)):            #행의 갯수
    for k in range(len(a[i])):     #열의 갯수
        print(a[i][k], end=' ')
    print()

10 20
30 40
40 50

In [17]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
40 50

### 23-3. 반복문으로 2차원 리스트 만들기

In [18]:
# 1차원
a = []
for i in range(5):
    a.append(i)
a

[0, 1, 2, 3, 4]

In [19]:
# 2차원 (3 x 4)
two_d = []
for i in range(3):
    for k in range(4):
        two_d.append(4*i+k)
two_d

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [20]:
# 2차원 (3 x 4)
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(4*i+k)
    two_d.append(line)
two_d

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

#### 23.7 심사문제: 지뢰찾기

In [45]:
col, row = map(int, input().split())

matrix = []
for i in range(row):
    matrix.append(list(input()))

for k in range(row):
    for j in range(col):
        if matrix[k][j] == '*':
            continue
        
        for x in range(k-1,k+1):
            for y in range(j-1,j+1):
                if x < 0 or y <0 or x >= row or y >= col:
                    continue
                if matrix[k][j] == '*'

[['.'], ['*'], ['*']]
[['.'], ['*'], ['*'], ['*'], ['.'], ['.']]
[['.'], ['*'], ['*'], ['*'], ['.'], ['.'], ['.'], ['*'], ['.']]