# Unit 30. 위치인수, 키워드인수

In [2]:
print(10, 20, sep=', ', end='\n\n')

10, 20

- 위치 인수(positional argument)

In [4]:
def print_3numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [6]:
print_3numbers(10, 20, 30)

10
20
30

In [9]:
x = [10, 20, 30]
print_3numbers(*x)      # 리스트 언패킹 / 잘 안쓰임

10
20
30

- 가변인수

In [11]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers(100)

100

In [13]:
print_numbers(10, 20, 30)

10
20
30

In [14]:
print_numbers()

- 고정인수, 가변인수를 함께

In [19]:
def print_n_numbers(a, *args):
    print(a)
    for arg in args:
        print(arg)

- 키워드 인수

In [20]:
# 위치 인수로 호출

def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [21]:
personal_info('홍길동', 25, '제주도 제주시 노형동')

이름:  홍길동
나이:  25
주소:  제주도 제주시 노형동

In [23]:
# 키워드 인수로 호출

personal_info(age=25, address='제주시 연동', name='홍길동')

이름:  홍길동
나이:  25
주소:  제주시 연동

- 키워드 인수를 사용하는 가변인수 함수

In [26]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [25]:
personal_info2(age=25, address='제주시 연동', name='홍길동')

age: 25
address: 제주시 연동
name: 홍길동

- 매개변수에 초깃값지정

In [27]:
def personal_info3(name, age, address='비공개'):  # 꼭 맨 뒤에 오기
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [28]:
personal_info3(age=25, address='제주시 연동', name='홍길동')

이름:  홍길동
나이:  25
주소:  제주시 연동

In [29]:
personal_info3(age=25, name='홍길동')

이름:  홍길동
나이:  25
주소:  비공개