# Unit 6. 변수(variable)

### 6-1. 변수 만들기

In [1]:
lbs_weight = 174.5     # snake 표기법 
inchHeight = 70.0      # camel 표기법

In [2]:
# tuple unpaking
x, y, z = 10, 20, 30

In [3]:
x, y = y, x
x, y

(20, 10)

In [6]:
x += y     # x = x + y (할당연산자)
x

40

In [8]:
# 1에서 100까지 더하기

sum = 0
for i in range(1,101):
    sum += i
sum

5050

In [9]:
input('숫자를 입력하세요')

'10'

In [14]:
number = int(input('정수를 입력하세요> '))

In [15]:
number

34

### 정수 두개를 입력으로 받기

In [25]:
s = input('정수 두개 입력')

In [26]:
s

'10 20'

In [27]:
a, b = s.split()
a, b, a+b

('10', '20', '1020')

In [22]:
list(map(int, s.split()))

[30, 40]

In [23]:
num1, num2 = map(int, s.split())  ##
num1, num2

(30, 40)

In [29]:
n1, n2, n3 = map(int, input('정수 세개 입력>').split())
n1, n2, n3, n1+n2+n3

(10, 20, 30, 60)