# 1. 익명 함수(lambda function)

In [4]:
f = lambda x: x + 10        # 한줄로/삼항연산자까지 가능

In [2]:
def func(x):
    return x +10

In [3]:
f(5), func(5)

(15, 15)

In [5]:
a = [1, 3, 5, 7, 9]
list(map(func, a))

[11, 13, 15, 17, 19]

In [6]:
list(map(f, a))

[11, 13, 15, 17, 19]

In [7]:
list(map(lambda x: x+10, a))

[11, 13, 15, 17, 19]

- 1에서 10까지 홀수 제곱리스트 생성

In [9]:
sq_odd_list = []
for i in range(1, 11):
    if i % 2 == 1:
        
        sq_odd_list.append(i*i)
sq_odd_list

[1, 9, 25, 49, 81]

In [10]:
# Lambda 함수

odd_list = list(range(1,11,2))
sq_odd_list1 = list(map(lambda x: x*x, odd_list))
sq_odd_list1

[1, 9, 25, 49, 81]

In [11]:
# 리스트 표현식
sq_odd_list2 = [i*i for i in range(1,11) if i % 2 == 1]
sq_odd_list2

[1, 9, 25, 49, 81]

- fliter

In [13]:
filtered_list = list(filter(lambda x: x >= 3 and x <= 6, range(1,11)))
filtered_list

[3, 4, 5, 6]

In [15]:
list(filter(lambda x: 3 <= x <= 6, range(1,11)))

[3, 4, 5, 6]

In [16]:
[i for i in range(1,11) if i >= 3 and i <=6]

[3, 4, 5, 6]

In [17]:
[i for i in range(1,11) if 3<= i <=6]

[3, 4, 5, 6]

- 1에서 10까지 홀수이면 string으로 변환, 짝수면 그대로

In [22]:
[str(i) for i in range(1,11) if i%2==1] + [i for i in range(1,11) if i%2==0]

['1', '3', '5', '7', '9', 2, 4, 6, 8, 10]

In [24]:
def det(x):
    if x%2==1:
        return str(x)
    return x

list(map(det, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [25]:
def det2(x):
    return str(x) if x%2==1 else x
list(map(det2, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [23]:
#람다함수 이용

list(map(lambda x: str(x) if x%2==1 else x, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [26]:
# 리스트 표현식

[str(i) if i%2==1 else i for i in range(1,11)]

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

- ['142,000', '2,365,000', '16,300']을 정수리스트로 변환하시오

In [27]:
int('123,000'.replace(',',''))

123000

In [29]:
price_str_list = ['142,000', '2,365,000', '16,300']
price_list = list(map(lambda x: int(x.replace(',','')), price_str_list))
price_list

[142000, 2365000, 16300]

In [30]:
[int(x.replace(',','')) for x in price_str_list]

[142000, 2365000, 16300]

## 2. 예외처리

In [31]:
def ten_div(x):
    return 10 / x

In [32]:
ten_div(2)

5.0

In [33]:
ten_div(0)

ZeroDivisionError: division by zero

In [34]:
try:
    ten_div(0)
except:
    print('Error 발생')

Error 발생

In [35]:
try:
    a = [1,2,3]
    print(a[4])
except Exception as e:
    print(e)

list index out of range

In [ ]:
x = int(input())
try:
    ten_div(x)
except Exception as e:
    print(e)
else:
    print('Error가 발생하지 않았습니다.')
finally:
    print('try구문이 모두 끝났습니다.')

## 3. 클래스와 객체

In [42]:
class Claculator:               # class 대문자
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def add(self):
        return self.x + self.y
    def sub(self):
        return self.x - self.y
    def mul(self):
        return self.x * self.y
    def div(self):
        try:
            result = self.x / self.y
        except:
            result = '0으로 나눌 수 없음'
        return result

In [43]:
calc = Claculator(10, 5)

In [44]:
# 속성
calc.x, calc.y

(10, 5)

In [45]:
# 메소드(method)
calc.add(), calc.sub(), calc.mul(), calc.div()

(15, 5, 50, 2.0)

In [48]:
calc.y = 0
calc.div()

'0으로 나눌 수 없음'

- Unit 17. 심사문제를 객체지향방식으로 해결

In [ ]:
class Tmoney:
    def __init__(self, balance):
        self.balance = balance
        self.fare = 1350
    def pay(self):
        if self.balance < self.fare:
            return('잔액 부족')
        self.balance -= self.fare
        return(f'요금 지불하고 {self.balance:,d}원 남았습니다.')